<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.ionic.starter" version="1.8.0-beta.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Release it testing</name>
  <description>An awesome Ionic/Cordova app.</description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <preference name="ScrollEnabled" value="false"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="ShowSplashScreen" value="false"/>
  <plugin name="cordova-sqlite-storage" spec="~3.0.0"/>
  <plugin name="cordova-plugin-x-toast" spec="~2.7.2"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.3"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.4.2"/>
  <plugin name="cordova-plugin-device" spec="~2.0.2"/>
  <plugin name="cordova-plugin-ionic-webview" spec="^3.0.0"/>
  <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5"/>
  <plugin name="cordova-plugin-geolocation" spec="~4.0.1"/>
  <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0"/>
  <engine name="browser" spec="^5.0.4"/>
</widget>